<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fatmalii.talk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/megaphone"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GreetingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".FoodActivity" />
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme" />
        <activity android:name=".WashroomActivity" />
        <activity android:name=".ClothingActivity" />
        <activity android:name=".MedicalActivity" />
        <activity android:name=".ComfortActivity" />
        <activity android:name=".CreateCategory"></activity>
    </application>

</manifest>